body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--text-color-primary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.logo-bsmt, .logo {
  display: block;
  text-decoration: none;
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-part {
  color: black;
}

.logo-bsmt {
  margin-bottom: 20px;
}

.logo-bsmt-part {
  color: #ffffff;
}

.nav-bar__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-header {
  border-bottom: 1px solid #ECECEC;
}

.site-header .container {
  display: block;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    padding: 0;
  }
}

.menu-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.is-open {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle__icons {
  color: currentColor;
}

.nav-bar__list {
  display: none;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
  .nav-bar__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}

.nav-bar__item {
  position: relative;
}

.nav-bar__item:not(:first-child) {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .nav-bar__item:not(:first-child) {
    margin-left: 0;
  }
}

.nav-bar__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-bar__link:hover, .nav-bar__link:focus {
  color: #2196F3;
}

.nav-bar__link--current {
  color: #2196F3;
}
.nav-bar__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border: 1px solid #2196F3;
  border-radius: 2px;
  background-color: #2196F3;
}

.contact {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    gap: 10px;
  }
}

.contact__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1170px) {
  .contact__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contact__icon {
  margin-right: 10px;
  color: currentColor;
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  fill: #757575;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .contact__link {
    padding: 0;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  scale: 0;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  scale: 1;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
}

.menu-bar__item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu-bar__link {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-bar__link:hover, .menu-bar__link:focus {
  color: #2196F3;
}

.menu-bar__link--current {
  text-decoration: none;
  color: #2196F3;
}
.menu-bar__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border: 1px solid #2196F3;
  border-radius: 2px;
  background-color: #2196F3;
}

.menu-contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 32px;
  margin-top: auto;
  margin-bottom: 64px;
}

.menu-contact__tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-contact__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-soc {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.menu-soc__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-soc__item:first-child {
  padding-left: 0;
}
.menu-soc__item:last-child {
  padding-right: 0;
}

.menu-soc__link {
  padding: 0 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.site-footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.site-footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .site-footer__box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .site-footer__box.container {
    margin: 0 auto;
    padding: 0 89px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer-contacts__item {
  text-decoration: none;
  font-style: normal;
  list-style: none;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-contacts__adds {
  color: #ffffff;
}

.footer-contacts__link {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196F3;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-left: auto;
  }
}

.socials__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:focus, .socials__link:hover {
  background-color: #2196F3;
  fill: #ffffff;
}

.socials__icon {
  color: currentColor;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .follow {
    width: 450px;
  }
}

.follow__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.follow__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.follow__email {
  display: block;
  text-align: start;
  width: 100%;
  padding: 15px 12px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.follow__label {
  width: 100%;
}

.follow__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.follow__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.hero {
  padding: 118px 0 118px 0;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/mob/mob-hero-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/mob/mob-hero-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/tablet/tab-hero-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/tablet/tab-hero-2x.jpg);
  }
}
@media screen and (min-width: 1170px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/desktop/pc-hero-1x.jpg);
  }
}
@media screen and (min-width: 1170px) and (min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (min-resolution: 192dpi), screen and (min-width: 1170px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/desktop/pc-hero-2x.jpg);
  }
}

.hero__title {
  max-width: 700px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  scale: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0) opacity(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.modal__btn-close:focus .modal__icon-close, .modal__btn-close:hover .modal__icon-close {
  fill: #2196F3;
}

.modal__icon-close {
  color: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.callback {
  display: flex;
  flex-direction: column;
}

.callback__label {
  display: block;
  position: relative;
}

.callback__text {
  width: 100%;
  padding: 12px 0 12px 42px;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__text:focus, .callback__text:hover {
  outline: 1px solid #2196F3;
}
.callback__text:focus + .callback__iconbox .callback__icon, .callback__text:focus + .callback__iconbox .callback__icon, .callback__text:hover + .callback__iconbox .callback__icon, .callback__text:hover + .callback__iconbox .callback__icon {
  fill: #2196F3;
}

.callback__name {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 4px));
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.callback__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.callback__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.callback__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.callback__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.callback__textarea:focus, .callback__textarea:hover {
  outline: 1px solid #2196F3;
}

.callback__policy {
  margin: 0 auto 30px auto;
}

.callback__policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.callback__policy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.callback__policy-input:checked + .callback__policy-box, .callback__policy-input:checked + .callback__policy-box .callback__policy-icon {
  border-color: transparent;
  scale: 1;
}

.callback__policy-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  border-color: #212121;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__policy-icon {
  position: absolute;
  scale: 0;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__policy-title {
  margin: 0 0.3em;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.callback__policy-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.callback__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 10px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__btn:hover, .callback__btn:focus {
  background-color: #188CE8;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about {
    align-items: flex-start;
    max-width: 354px;
  }
}

.about__draw {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.about__icon {
  border-radius: 4px;
}

.about__title {
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.works {
  display: none;
}

.works__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.works__item {
  position: relative;
  list-style-type: none;
}
.works__item:nth-last-child(-n+1) {
  margin-right: 0px;
}

.works__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-bottom: 60px;
  background-color: #F5F4FA;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .team__title {
    margin-top: 60px;
  }
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 480px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style-type: none;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__card {
    max-width: 354px;
  }
}

.manager-card__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.manager-card__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.manager-card__soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  gap: 10px;
}

.manager-card__soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manager-card__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  fill: #AFB1B8;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manager-card__soc-link:hover, .manager-card__soc-link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.manager-card__soc-icon {
  color: currentColor;
}

.customers {
  padding-bottom: 60px;
}
.customers .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .customers .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .customers .container {
    width: 768px;
  }
}

.customers__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px;
  gap: 30px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .customers__list {
    max-width: 738px;
  }
}

.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .customers__item {
    max-width: 226px;
  }
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}

.customers__icon {
  color: currentColor;
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  max-width: 350px;
}

.gallery__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery-card {
  list-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-card:hover .gallery-card__overlay {
  transform: translateY(-100%);
}

.gallery-btn {
  list-style: none;
  margin: 0 8px 15px 0;
}

.gallery-btn__text {
  background-color: #F5F4FA;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-btn__text:hover, .gallery-btn__text:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196F3;
}

.gallery-card__img {
  position: relative;
  overflow: hidden;
}

.gallery-card__overlay {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-card__name {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.gallery-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-card__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */