@import './utils/vars';
@import './base/bases';
@import './components/logo';
@import './components/header/nav';
@import './components/header/header-contacts';
@import './components/header/mobile-menu';
@import './components/footer/address';
@import './components/footer/soc-net';
@import './components/footer/subscribe';
@import './components/main-page/hero';
@import './components/main-page/modal';
@import './components/main-page/features';
@import './components/main-page/works';
@import './components/main-page/teammates';
@import './components/main-page/managers';
@import './components/main-page/customers';
@import './components/portfolio/gallery';
@import './components/portfolio/gallery-nav';
@import './components/portfolio/cards';