.gallery-card__img {
    position: relative;
    overflow: hidden;
}

.gallery-card__overlay {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    padding: 77px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $footer-color-text-secondary;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-card__name {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.gallery-card__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.gallery-card__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: $text-color-secondary;
}