.site-footer {
    padding: 60px 0;

    background-color: $footer-bg-color;
}

.site-footer__box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 60px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contacts__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer-contacts__item {
    text-decoration: none;
    font-style: normal;
    list-style: none;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer-contacts__adds {
    color: $footer-color-text-secondary;
}

.footer-contacts__link {
    text-decoration: none;
    list-style: none;

    color: $footer-color-text-primary;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: $text-color-accent;
    }
}