.contact {
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.contact__item:not(:first-child) {
    margin-left: 50px;
}

.contact__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.contact__icon {
    margin-right: 10px;
    color: currentColor;
}

.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    fill: $text-color-secondary;
    color: $text-color-secondary;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
    color: $text-color-accent;
    fill: $text-color-accent;
    }
}