%header-fonts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-header {
    border-bottom: 1px solid $header-color-border;
}

.site-header .container {
    display: block;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    // min-width: 320px;
    // max-width: 480px;
}

.menu-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;

    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.is-open {
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle__icons {
    color: currentColor;
}

.nav-bar__list {
    display: none;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-bar__item {
    position: relative;
    @extend %header-fonts
}

.nav-bar__item:not(:first-child) {
    margin-left: 50px;
}

.nav-bar__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: $text-color-secondary;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
    color: $text-color-accent;
    }
}

.nav-bar__link--current {
    color: $text-color-accent;

    &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border: 1px solid $text-color-accent;
    border-radius: 2px;

    background-color: $text-color-accent;
    }
}