    $text-color-primary: #212121;
    $text-color-secondary: #757575;
    $text-color-accent: #2196F3;
    $logo-color-secondary: black;
    $footer-color-text-primary:rgba(255, 255, 255, 0.6);
    $footer-color-text-secondary: #ffffff;
    $footer-bg-color: #2F303A;
    $header-color-border: #ECECEC;
    $team-bg-color: #F5F4FA;
    $client-color-primary: #AFB1B8;
    $bg-hero-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4));